* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styles */
/* header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
} */

/* nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
} */

/* Hero Section Styles */
.hero {
    background-color: #f9f9f9;
    text-align: center;
    padding: 100px 0;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Login Form Styles */
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#formContent {
    width: 100%;
    max-width: 300px;
    text-align: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#formContent input[type="text"],
#formContent input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#formContent input[type="submit"] {
    width: 100%;
    background-color: orange;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#formContent input[type="submit"]:hover {
    background-color: orange;
}

#formFooter {
    margin-top: 20px;
}

#formFooter .underlineHover {
    color: orange;
    cursor: pointer;
}

#formFooter .underlineHover:hover {
    text-decoration: underline;
}



/* .bg-image {
    background-image: url('/timeline_db/assets/image.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; 
    height: 100vh;
} */