<div>
  <section class="py-4 py-md-5 py-xl-8">
    <div class="container">
      <div class="row gy-4 gy-md-5 gy-lg-4 align-items-lg-center">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8"> 
            <h2 class="h1 mb-4 text-center">Who Are We?</h2>
            <p class="lead fs-5 text-secondary mb-4 text-center"> 
              As full-stack developers continually aspiring to expand our knowledge and craft remarkable web applications, we embarked on the exhilarating journey of creating Time Tracker. Driven by our passion for learning and our commitment to innovation, we eagerly developed this platform to help individuals preserve their cherished memories in a seamless and engaging manner.
            </p>
            <p class="mb-4 text-center"> 
              Our mission is simple: we believe in the power of memories. As developers, we embarked on a journey to create a platform that allows people to save their most precious moments and weave them into compelling narratives. We understand the fleeting nature of time and the importance of preserving memories, which is why we are dedicated to providing a seamless and intuitive tool for capturing life's stories in one place.
            </p>
            <p class="mb-4 text-center"> 
              Driven by a passion for storytelling and a desire to make a meaningful impact, we poured our hearts and expertise into crafting Time Track. Whether it's reliving personal adventures, commemorating milestones, or documenting historical events, our goal is to empower individuals to curate their memories with ease. Every line of code, every feature, and every update is inspired by the belief that memories should be cherished and celebrated – and Timeline Maker is our way of helping people do just that.
            </p>
            <div class="row row-cols-1 row-cols-md-2 gy-4 gx-md-3 gx-xxl-5"> 
              <div class="col">
                <div class="d-flex flex-column align-items-center"> 
                  <div class="mb-3 text-primary">
                    <img src="/github.png" width="35" height="35"> 
                  </div>
                  <div class="text-center">
                    <h5 class="mb-2">Wesley Abreu</h5> 
                    <button class="btn btn-primary btn-sm"><a href="https://github.com/WAbreu738" target="_blank" style="color: white; text-decoration: none; font-size: 0.8rem;">Visit My GitHub</a></button> <!-- Reduced font size -->
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="d-flex flex-column align-items-center"> 
                  <div class="mb-3 text-primary">
                    <img src="/github.png" width="35" height="35">
                  </div>
                  <div class="text-center">
                    <h5 class="mb-2">Juan Vargas</h5>
                    <button class="btn btn-primary btn-sm"><a href="https://github.com/jv0321" target="_blank" style="color: white; text-decoration: none; font-size: 0.8rem;">Visit My GitHub</a></button> <!-- Reduced font size -->
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="d-flex flex-column align-items-center">
                  <div class="mb-3 text-primary">
                    <img src="/github.png" width="35" height="35"> 
                  </div>
                  <div class="text-center">
                    <h5 class="mb-2">Alice Ayres</h5>
                    <button class="btn btn-primary btn-sm"><a href="https://github.com/Neppit" target="_blank" style="color: white; text-decoration: none; font-size: 0.8rem;">Visit My GitHub</a></button> <!-- Reduced font size -->
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="d-flex flex-column align-items-center">
                  <div class="mb-3 text-primary">
                    <img src="/github.png" width="35" height="35"> 
                  </div>
                  <div class="text-center">
                    <h5 class="mb-2">Sylvester Assiamah</h5>
                    <button class="btn btn-primary btn-sm"><a href="https://github.com/AssiamahS" target="_blank" style="color: white; text-decoration: none; font-size: 0.8rem;">Visit My GitHub</a></button> <!-- Reduced font size -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
