<div class="content">
        <!-- The embedded GIF container is now linked to the GIF link in the navigation bar -->
        <div class="embedded-gif-container">
          <!-- Embed the GIF using the provided iframe code -->
          <iframe src="https://gifer.com/embed/7Knv" width="400" height="225" frameborder="0" allowfullscreen></iframe>
        </div>
        <p><a href="/index.html" style="justify-content: center">Go to Timeline</a></p>
</div>