<div>
  <section class="py-3 py-md-5 py-xl-8">
    <div class="container">
      <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
        <div class="row justify-content-xl-center">
          <div>
            <h2 class="h1 mb-3">Who Are We?</h2>
            <p class="lead fs-4 text-secondary mb-3">As full-stack developers continually aspiring to expand our
              knowledge and craft remarkable web applications, we embarked on the exhilarating journey of creating
              Timeline Maker. Driven by our passion for learning and our commitment to innovation, we eagerly
              developed this platform to help individuals preserve their cherished memories in a seamless and engaging
              manner.</p>
            <p class="mb-5">Our mission is simple: we believe in the power of memories. As developers, we embarked on
              a journey to create a platform that allows people to save their most precious moments and weave them
              into compelling narratives. We understand the fleeting nature of time and the importance of preserving
              memories, which is why we are dedicated to providing a seamless and intuitive tool for capturing life's
              stories in one place.</p>

              <p class="mb-5">Driven by a passion for storytelling and a desire to make a meaningful impact, we poured our hearts and
              expertise into crafting Timeline Maker. Whether it's reliving personal adventures, commemorating
              milestones, or documenting historical events, our goal is to empower individuals to curate their
              memories with ease. Every line of code, every feature, and every update is inspired by the belief that
              memories should be cherished and celebrated – and Timeline Maker is our way of helping people do just
              that.</p>
            <div class="row gy-4 gy-md-0 gx-xxl-5X">
              <div class="col-12 col-md-6">
                <div class="d-flex">
                  <div class="me-4 text-primary">
                    <img src="/github.png" width="45" height="45">
                  </div>
                  <div style="padding-bottom: 50px;">
                    <h4 class="mb-3">Wesley Abreu</h4>
                    <p class="text-secondary mb-0">We are crafting a digital method that subsists life across all
                      mediums.</p>
                    <button class="btn btn-primary btn-lg"><a href="https://github.com/WAbreu738" target="_blank"
                        style="color: white; text-decoration: none;">Visit My GitHub</a></button>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="d-flex">
                  <div class="me-4 text-primary">
                   <img src="/github.png" width="45" height="45">
                  </div>
                  <div>
                    <h4 class="mb-3">Alice Ayres</h4>
                    <p class="text-secondary mb-0">We believe in innovation by merging primary with elaborate ideas.
                    </p>
                    <button class="btn btn-primary btn-lg"><a href="https://github.com/Neppit" target="_blank"
                        style="color: white; text-decoration: none;">Visit My GitHub</a></button>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="d-flex">
                  <div class="me-4 text-primary">
                    <img src="/github.png" width="45" height="45">
                  </div>
                  <div style="padding-bottom: 50px;">
                    <h4 class="mb-3">Juan Vargas</h4>
                    <p class="text-secondary mb-0">We are crafting a digital method that subsists life across all
                      mediums.</p>
                    <button class="btn btn-primary btn-lg"><a href="https://github.com/jv0321" target="_blank"
                        style="color: white; text-decoration: none;">Visit My GitHub</a></button>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="d-flex">
                  <div class="me-4 text-primary">
                    <img src="/github.png" width="45" height="45">
                  </div>
                  <div>
                    <h4 class="mb-3">Sylvester Assiamah</h4>
                    <p class="text-secondary mb-0">We believe in innovation by merging primary with elaborate ideas.
                    </p>
                    <button class="btn btn-primary btn-lg"><a href="https://github.com/AssiamahS" target="_blank"
                        style="color: white; text-decoration: none;">Visit My GitHub</a></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
