



<head>
  <meta charset="utf-8">
  <title>Timeline</title>
 <link rel="stylesheet" href="/timeline_database/css/main.css">
</head>
<body>
  <div class="container">
    <div class="top-section">
      <h1>Animated Timeline</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ex, cupiditate alias voluptatem eum ipsam non tempora quia iusto reiciendis doloremque maiores, ipsa corporis aspernatur quo. Commodi, facere. Placeat, debitis!
      </p>
    </div>
    <div class="timeline">
      <div class="line"></div>
      <div class="section">
        <div class="bead"></div>
        <div class="content">
            <h2>Web Design</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
        </div>
      </div>

      <div class="section">
        <div class="bead"></div>
        <div class="content">
            <h2>Web Development</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
        </div>
      </div>

      <div class="section">
        <div class="bead"></div>
        <div class="content">
            <h2>Frontend</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
        </div>
      </div>


      <div class="section">
        <div class="bead"></div>
        <div class="content">
            <h2>Backend</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
        </div>
      </div>


      <div class="section">
        <div class="bead"></div>
        <div class="content">
            <h2>SEO Optimized</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
        </div>
      </div>


    </div>
  </div>
  <script src="timeline.js"></script>















{{!-- MODAL --}}

<button id="myBtn">+</button>

<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>
        <div class="register-container">
            <h2>Timeline</h2>
            <form id="event-form" action="/events" method="POST">
                <div class="form-group">
                    <label for="year">Year:</label>
                    <input type="number" id="year" name="year" required>
                </div>
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" id="title" name="title" required>
                </div>
                <div class="form-group">
                    <label for="post">Post:</label>
                    <textarea id="post" name="post" required></textarea>
                </div>
                <button type="submit">Create Event</button>
            </form>
        </div>
        </p>
    </div>
</div>

<div>
    <h1>Event List</h1>
    <ul>
        {{#each events}}
        <li>{{this.year}} - {{this.title}} - {{this.post}}</li>
        {{/each}}
    </ul>
</div>

<script>// Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>