<main>
    <div class="p-5 my-4 bg-body-tertiary rounded-3">
        {{!-- style="background-image: url('images/background.png'); background-size: contain; background-position:
        right; background-repeat: no-repeat;"> --}}
        <div class="container-fluid py-5">
            <div class="row">
                <div class="col-md-7 col-sm-12 ">
                    <h1 class="display-5 fw-bold">Time-Track</h1>
                    <h2 class="display-5 fw-bold" style="color: #6951d4">Craft Your Memories into Stories</h2>
                    <p class="col-md-8 fs-4">Transform moments into memories, memories into stories. Join us in crafting the narrative of your life with Time-Track – the ultimate platform for immortalizing your journey.
                    </p>
                    <button class="btn btn-outline-primary" type="button">
                        <a class="color-hover" style="text-decoration: none" href="/login">Login</a>
                    </button>
                </div>
                <div class="col-md-5 col-sm-12 background-image"></div>
            </div>
        </div>
    </div>

    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5 text-bg-dark rounded-3">
                <h2 style="color: #6951d4">Save Your Story</h2>
                <p>Save your timeline securely by creating an account and unlock the full potential of Time-Track.
                    Whether it's a personal journey or a shared history, your stories deserve to be preserved.</p>
                <button class="btn btn-outline-light" type="button"><a style="text-decoration: none"
                        class="text-light text-dark-hover" href="/register">Register</a></button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                <h2 style="color: #6951d4">Effortless Timeline Creation</h2>
                <p>Crafting your timeline is as simple as clicking "Add," inputting a date and post, and watching your
                    memories seamlessly integrate into your narrative. Let Time-Track guide you through the process,
                    so your stories come to life effortlessly.</p>
            </div>
        </div>
    </div>
</main>