<body>
    <div class="content text-center" style="padding-top: 50px;">
        <div class="embedded-gif-container">
            <iframe src="https://gifer.com/embed/7Knv" width="400" height="225" frameborder="0"
                allowfullscreen></iframe>
        </div>
    </div>

    <div class="bg-image" style="background-image: url('/timeline_db/assets/image.jpg'); height: 100vh">
        <section class="hero">
            <div class="container text-center">
                <h2 style="padding-top: 70px;">Welcome to our Timeline Project</h2>
                <p>Explore our interactive timeline and see our journey!</p>
                <a href="/index.html" class="btn text-primary" style="padding-bottom: 40px;">Explore Timeline</a>
            </div>
        </section>

        <div class="container d-flex justify-content-center min-vh-100">
            <form>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                {{!-- <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div> --}}
                <button type="submit" class="btn btn-primary"> <a href="/events"></a>Login</button> 
                <p style="padding-top: 50px;">Don't have an account? <a href="/register">Register</a></p>
            </form>
        </div>
    </div>

</body>
