<div class="container d-flex justify-content-center min-vh-100">
  <form action="/login" method="POST">
    <h1 style="padding-top: 70px; padding-bottom: 50px">Login</h1>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input name="password" type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary"> <a href="/events"></a>Login</button>
    <p style="padding-top: 50px;">Don't have an account? <a href="/register">Register</a></p>
  </form>
</div>