<div class="content text-center" style="padding-top: 50px;">
  <div class="embedded-gif-container">
    <iframe src="https://gifer.com/embed/7Knv" width="400" height="225" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div class="container d-flex justify-content-center">
  <div class="register-container" style="padding-top: 70px;">
    <h2>SignUp</h2>
    <form id="register-form" action="/register" method="POST" style="padding-top: 40px;">
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="first-name">First Name:</label>
        <input type="text" class="form-control" id="firstname" placeholder="First name">
      </div>
      <div class="form-group">
        <label for="last-name">Last Name:</label>
        <input type="text" class="form-control" id="lastname" placeholder="Last name">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <button type="submit">Register</button> <a href="/events"></a>
    </form>
    <p style="padding-top: 50px; padding-bottom: 100px">Already have an account? <a href="/login">Login</a></p>
  </div>
</div>