body{
    background-color: #eceef1;
}

.modal {
    z-index: 102;
}

.timeline {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-weight: 400;
    overflow-x: hidden;
    width: 100vw;
}

.containter{
    padding: 2rem;
    padding-bottom: 400px;
    margin: 0 auto;
    width: 100vw;
    color: rgb(18, 14, 14);
}

.top-section{
    text-align: center;
    padding: 4rem 0;
    max-width: 600px;
    margin: 0 auto;
    color: rgb(10, 7, 7);
}
.timeline{
    position: relative;
    min-height: 150px;

}
.line {
    position: absolute;
    z-index: 101;
    left: 20%; 
    width: 2px;
    top: 0;
    bottom: 0;
    background-color: #000;
    display: none;
}

.line:before,
.line:after{
    position: absolute;
    display: block;
    content: '';
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #000;
    left: 50%;
    transform: translateX( -50% );

}
.line.after{
    bottom: 0;
}.section {
    display: flex;
    opacity: 0;
    transform: translateX(100%); /* Initially move the sections to the right */
    transition: 600ms ease;

    position: sticky;
    top: 0;
    z-index: 100;
    /* background-color: #211e1e6b;  */

    /* background: hsla(210, 32%, 46%, 1);

    background: linear-gradient(0deg, rgb(0, 26, 35) 22%, hsla(217, 23%, 89%, 1) 88%);

    background: -moz-linear-gradient(0deg, rgb(0, 26, 35) 22%, hsla(217, 23%, 89%, 1) 88%);

    background: -webkit-linear-gradient(0deg, rgb(0, 26, 35) 22%, hsla(217, 23%, 89%, 1) 88%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#4f759b", endColorstr="#DCE1E9", GradientType=1 );
     */
     background: #6951d4;

     background: linear-gradient(0deg, #6951d4 12%, #eceef1 90%);
     
     background: -moz-linear-gradient(0deg, #6951d4 12%, #eceef1 90%);
     
     background: -webkit-linear-gradient(0deg, #6951d4 12%, #eceef1 90%);
     
     filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#377771", endColorstr="#DCE1E9", GradientType=1 );


    padding: 1rem;
    border-radius: 1rem;
    align-items: center;
    min-height: 300px;
    justify-content: center; 
}

.section.sticky + .section {
    margin-top: 50px; /* Adjust margin to create space between sticky sections */
}

.section.ntn:nth-child(odd) {
    flex-direction: row-reverse;
    transform: translateX(100%);
}
.bead {
    position: absolute;
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #000;
    left: 19.5%;
    top: 50%; /* Position the bead vertically in the center */
    transform: translateY(-50%); /* Adjust the vertical position based on the bead's height */
}
.content{
    width: calc(50% - 2rem);
    /* color: rgb(0, 0, 0); */
    
}
.show-me:nth-child(n){
    transform: none;
    opacity: 1;
}

h1{
    font-weight: 400;
    letter-spacing: 1px;
}
